* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e5e5ec;
}

.container {
  max-width: 900px;
  
  margin: 20px auto;
  background-color: #e5e5ec;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab-buttons {
  display: flex;
}

.tab-buttons button {
  padding: 8px 12px;
  background-color: #f0f0f0;
  color: rgb(15, 15, 15);
  border: none;
  border-radius: 0px;
  cursor: pointer;
}
#tab-01{
  border-top-left-radius: 4px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
#tab-02{
  border-top: 1px solid #000;
  border-right: 1px solid #000;  
}
#tab-03{
  border-top-right-radius: 4px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}
.tab-buttons button:not(:hover) {
  color: rgb(150, 150, 150);
  background-color: #c7c8c1;
}
.tab-buttons button:active,
.tab-buttons button:focus {
  color: #000; 
  background-color: #f0f0f0;
  font-family: system-ui;
}
.content {
  background-color: #f0f0f0;
  justify-content: center;
  border: 1px solid #000;
  padding: 60px;
  border-radius:0px 8px 8px 8px;

}
div .tab-buttons{
  border-radius: 8px;
  background-color: #e5e5e5;
}
